<!DOCTYPE html>
<html lang="en">

<!--Header-->

<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>The Giant Universe.</h1> 
    <p>Do you ever stop and wonder how significant Earth really is compared to the rest of the universe? Me too.</p> 
      <button type="button" class="btn btn-outline-info">
        <a href="https://www.youtube.com/watch?v=1Eh5BpSnBBw" target="_blank">Blow your mind. </a></button>
        <br />
        <br />
  </div>
</div>
<br /> <br />
<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'planets.jpg', class: 'd-block img-fluid' %>
        <div class="pic-caption"
        <b>Earth is the 4th smallest planet in the solar system.</b>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'milky_way.jpg', class: 'd-block img-fluid' %>
        <div class="pic-caption"
        <b>We live in the Milky Way Galaxy.</b>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'galaxies.jpg', class: 'd-block img-fluid' %>
        <div class="pic-caption"
        <b>These are all galaxies just like ours, endless.</b>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br /><br /><br/><br /><br /><br/>

</html>