@import "bootstrap";


h1 {
  text-align: center;
  color: #fcc203;
  text-shadow: 1px 1px black;
}

p {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
}

.jumbotron{
  top-margin: 10 px;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

body{
  background: image_url('nasabg.jpg');
  background-repeat: repeat;
  background-size: auto;
  margin-bottom: 30px;
}

button{
  background-color: #e7e7e7; 
  color: black;
  align-items: center;
  margin-left: center;
}

.carousel-inner img {
  width: 600px;
  height: 350px;
  width: 50%; 
  margin: auto;
  border: 10px;
  border-color: #fcc203;
  border-style: groove;
}


.pic-caption {
  color: white;
  font-size: 20px;
  text-shadow: 3px 2px black;
  position: absolute;
  margin-left: 400px;
  margin-top: 10px;
}

.button{
  
}
